<div>
  <app-nav></app-nav>
</div>

<div class="input-container">
  <label for="name">Name</label>
  <input type="name" id="name" placeholder="name" />
  <a (click)="create()"><button>Create</button></a>
</div>

<div class="custom-table mat-elevation-z8">
  <div class="data-rows">
    <div class="data-row" *ngFor="let association of dataSource">
      <div class="data-cell">
        <button (click)="idRedirect(association['id'])">{{ association['id'] }}</button>
      </div>
      <div class="data-cell">{{ association['name'] }}</div>
      <div class="data-cell">
        <button (click)="delete(association['id'])">🗑️</button>
      </div>
    </div>
  </div>
</div>

