<div>
  <app-nav></app-nav>
</div>

<div class="input-container">
  <label for="lastname">Lastname</label>
  <input type="text" id="lastname" placeholder="lastname" />
  <label for="firstname">Firstname</label>
  <input type="text" id="firstname" placeholder="firstname" />
  <label for="age">Age</label>
  <input type="text" id="age" placeholder="age" />
  <label for="password">Password</label>
  <input type="text" id="password" placeholder="password" />
  <a (click)="create()"><button>Create</button></a>
</div>

<div class="custom-table mat-elevation-z8">
  <div class="data-rows">
    <div class="data-row" *ngFor="let user of dataSource">
      <div class="data-cell">
        <button (click)="idRedirect(user['id'])">{{ user['id'] }}</button>
      </div>
      <div class="data-cell">{{ user['lastname'] }}</div>
      <div class="data-cell">{{ user['firstname'] }}</div>
      <div class="data-cell">{{ user['age'] }}</div>
      <div class="data-cell">
        <button (click)="delete(user['id'])">🗑️</button>
      </div>
    </div>
  </div>
</div>



