<div>
  <app-nav></app-nav>
</div>

<div class="custom-table">
  <!-- En-têtes de colonnes -->
  <div class="header-row">
    <div class="header-cell">Lastname</div>
    <div class="header-cell">Firstname</div>
    <div class="header-cell">Age</div>
    <div class="header-cell"></div>
  </div>

  <!-- Lignes de données -->
  <div class="data-rows">
    <div class="data-row" *ngFor="let user of dataSourcent">
      <div class="data-cell">{{ user.lastname }}</div>
      <div class="data-cell">{{ user.firstname }}</div>
      <div class="data-cell">{{ user.age }}</div>
      <div class="data-cell"><button (click)="delete(user.id)">🗑️</button></div>
    </div>
  </div>
</div>

<div class="custom-table2">
  <div class="data-table">
    <div class="data-row" *ngFor="let aArray of dataSourcentA">
      <div class="data-cell" *ngFor="let item of aArray">
        <button (click)="idRedirect(item.id)">{{ item.name }}</button>
      </div>
    </div>
  </div>
</div>

