<div>
  <app-nav></app-nav>
</div>

<div class="custom-table">
  <!-- En-têtes de colonnes -->
  <div class="header-row">
    <div class="header-cell">Lastname</div>
    <div class="header-cell">Firstname</div>
    <div class="header-cell">Age</div>
    <div class="header-cell"></div>
  </div>

  <!-- Lignes de données -->
  <div class="data-rows">
    <div class="data-row" *ngFor="let user of dataSourcent">
      <div class="data-cell">{{ user.lastname }}</div>
      <div class="data-cell">{{ user.firstname }}</div>
      <div class="data-cell">{{ user.age }}</div>
      <div class="data-cell"><button (click)="delete(user.id)">🗑️</button></div>
    </div>
  </div>
</div>
<div class="input-container">
  <input type="text" id="lastname" placeholder="Input" />
  <a (click)="editLastName()"><button>Edit Lastname</button></a>
  <input type="text" id="firstname" placeholder="Input" />
  <a (click)="editFirstName()"><button>Edit Firstname</button></a>
  <input type="text" id="password" placeholder="Input" />
  <a (click)="editPassword()"><button>Edit Password</button></a>
  <input type="text" id="age" placeholder="Input" />
  <a (click)="editAge()"><button>Edit Age</button></a>
</div>

<div class="custom-table2">
  <div class="data-table">
    <div class="data-row" *ngFor="let aArray of dataSourcentA">
      <div class="data-cell" *ngFor="let item of aArray">
        <button (click)="idRedirect(item.id)">{{ item.name }}</button>
      </div>
    </div>
  </div>
</div>

