<div>
  <app-nav></app-nav>
</div>

<div>Utilisateurs Trouvés</div>
<div>
  <table mat-table [dataSource]="dataSourcent" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          <button (click)="idRedirect(item.id)">{{item.id}}</button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          {{ item.lastname }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          {{ item.firstname }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          {{ item.age }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <td mat-cell *matCellDef="let user"> <button (click)="delete(user.id)">🗑️</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedH"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
</div>

<div>Associations Trouvées</div>
<div>
  <table mat-table [dataSource]="dataSourcent2" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          <button (click)="idRedirect2(item.id)">{{item.id}}</button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let aArray">
        <div *ngFor="let item of aArray">
          {{ item.name }}
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <td mat-cell *matCellDef="let user"> <button (click)="delete2(user.id)">🗑️</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedH2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
    </tr>

  </table>
</div>

