<div>
  <app-nav></app-nav>
</div>

<div class="user-search-title">Utilisateurs Trouvés</div>
<div class="user-container">
  <div class="data-rows">
  <div *ngFor="let aArray of dataSourcent" class ="data-row">
    <div class="user-column">
      <div class="column-header">ID</div>
      <div *ngFor="let item of aArray" class="jpp2">
        <button (click)="idRedirect(item.id)">{{item.id}}</button>
      </div>
    </div>

    <div class="user-column">
      <div class="column-header">LastName</div>
      <div *ngFor="let item of aArray" class="data-row">
        {{ item.lastname }}
      </div>
    </div>

    <div class="user-column">
      <div class="column-header">FirstName</div>
      <div *ngFor="let item of aArray" class="data-row">
        {{ item.firstname }}
      </div>
    </div>

    <div class="user-column">
      <div class="column-header">Age</div>
      <div *ngFor="let item of aArray" class="data-row">
        {{ item.age }}
      </div>
    </div>

    <div class="jpp">
      <div class="column-header">DEL</div>
      <div *ngFor="let user of aArray" class="data-row">
        <button (click)="delete(user.id)">🗑️</button>
      </div>
    </div>
  </div>
  </div>
</div>





<div class="user-search-title">Associations Trouvées</div>


<div class="user-container">
  <div class="data-rows">
    <div *ngFor="let aArray of dataSourcent2" class ="data-row">
      <div class="user-column">
        <div class="column-header">ID</div>
        <div *ngFor="let item of aArray" class="jpp2">
          <button (click)="idRedirect(item.id)">{{item.id}}</button>
        </div>
      </div>

      <div class="user-column">
        <div class="column-header">Name</div>
        <div *ngFor="let item of aArray" class="data-row">
          {{ item.name }}
        </div>
      </div>

      <div class="jpp">
        <div class="column-header">DEL</div>
        <div *ngFor="let user of aArray" class="data-row">
          <button (click)="delete2(user.id)">🗑️</button>
        </div>
      </div>
    </div>
  </div>
</div>

